.addFolder {
  border: 1px solid #66bb6a;
  padding: 5px;
  display: grid;
  place-items: center;
  width: max-content;
  border-radius: 5px;
  color: #12b81a;
  font-size: 35px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.addFolder:hover {
  box-shadow: 0 0 5px#12b81a;
  background-color: #12b81a;
  color: #fff;
}

.input {
  display: none;
}
