.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.icon {
  color: white;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list {
  position: absolute;
  top: -500%;
  right: -7%;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #fff;
  opacity: 0;
  padding-bottom: 5px;
  transition: all 300ms ease-out;
  box-shadow: 0 2px 8px #333;
  outline: none;
  max-height: 80dvh;
  overflow: auto;
  margin-right: 50px;
  z-index: 20;
}

.list.active {
  opacity: 1;
  top: 60%;
}

.list::-webkit-scrollbar {
  display: none;
}
.listItem,
.logoutBtn {
  width: 100%;
  cursor: pointer;
  padding: 13px;
  padding-left: 30px;
  padding-right: 20px;
  color: black;
  transition: all 100ms ease-in-out;
}

.listItem:not(.listHeader):hover {
  background-color: rgba(167, 158, 158, 0.333);
}

.headerWrapper {
  padding-top: 5px;
  position: sticky;
  top: 0;
  background-color: inherit;
}

.listItem.listHeader {
  color: #666;
  text-align: center;
  font-size: 1rem;
  padding: 0;
  padding-top: 5px;
  cursor: default;
  width: 100%;
  padding-bottom: 10px;
}

.deleteAccount > .listItem {
  color: #d2cf34;
}

.listItem.logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: red;
  width: 100%;
  margin: auto;
}

.list > a {
  text-decoration: none;
  white-space: nowrap;
}

.divider {
  margin: 0;
}
