.addFolder {
  border: 1px solid #66bb6a;
  padding: 5px;
  display: grid;
  place-items: center;
  width: max-content;
  border-radius: 5px;
  color: #12b81a;
  font-size: 35px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.addFolder:hover {
  box-shadow: 0 0 5px#12b81a;
  background-color: #12b81a55;
  color: #09a011;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #11111199;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerModal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
