.form {
  border: 1px solid #bbbbbb77;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 95vw;
  margin: auto;
}

.heading {
  text-align: center;
  padding: 5px;
  margin: 0;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 400px) {
  .form {
    padding-left: 20px;
    padding-right: 20px;
  }
}
