.filesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 85px);
  gap: 10px;
  padding: 20px;
}

.spinnerWrapper {
  margin-top: 10px;
  grid-column: 1 /-1;
  justify-self: center;
}
