.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.innerModal {
  background-color: white;
  border-radius: 5px;
  max-width: 500px;
  width: fit-content;
}

@media screen and (max-width: 400px) {
  .innerModal {
    padding-left: 20px;
    padding-right: 20px;
  }
}
