.fileContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 85px;
  text-align: center;
  transition: all 200ms ease-in-out;
  height: 100%;
}

.link {
  text-decoration: none;
  color: black;
  width: fit-content;
  position: relative;
}

.fileContainer:hover {
  box-shadow: 0 0 5px black;
  background-color: var(--file-color);
  scale: 1.05;
  .icon {
    color: white;
  }
}

.icon {
  font-size: 35px;
  color: var(--file-color);
  transition: color 200ms ease-in-out;
}

.fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
