.fileContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.link {
  text-decoration: none;
  color: black;
}

.fileContainer:hover {
  color: white;
  background-color: black;
  .icon {
    color: white;
  }
}

.icon {
  font-size: 35px;
  color: grey;
  transition: color 200ms ease-in-out;
}

.fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 70px;
}
