.modal {
  padding: 30px;
  max-width: 500px;
  width: 90vw;
}

.title {
  text-align: center;
  width: 80%;
  border-bottom: 1px solid var(--grey-border-color);
  margin-inline: auto;
  margin-top: 0;
  margin-bottom: 15px;
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: auto;
  gap: 10px;
}

.detailTitle {
  font-weight: bold;
}
