.formsAndPathWrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  height: fit-content;
}

.forms {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sliderContainer {
  margin: 0 auto;
  width: 95%;
}

.categories {
  display: flex;
  margin-left: 50px;
}

.categories > span {
  border: 1px solid var(--grey-border-color);
  padding: 15px;
  border-bottom: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 150ms ease-in-out;
  transform-origin: bottom;
  box-shadow: none;
}

.categories > span.selected {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: var(--error-text-color);
  cursor: default;
  border: none;
}

.childrenWrapper {
  border-top: 1px solid var(--grey-border-color);
  overflow: hidden;
}

.filesCategory {
  max-height: 0;
  transform: translateX(150%);
  transition: transform 300ms ease-in-out;
}

.foldersCategory {
  max-height: 0;
  transform: translateX(-150%);
  transition: transform 200ms ease-in-out;
}

.childrenWrapper > div.selectedCategory {
  max-height: fit-content;
  transform: translateX(0);
}
