.dashboard {
  display: flex;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.formsAndPathWrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.divider {
  width: 100%;
  border-color: #bbbbbb33;
}
