.dashboard {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.formsAndPathWrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
  background-color: transparent;
  position: sticky;
  top: 70px;
  padding: 10px;
}

.forms {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.childrenWrapper {
  margin: 0 auto;
  width: 95%;
}

.divider {
  width: 100%;
  border-color: #bbbbbb33;
}
